@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --black: #2d2d2d;
  --white: #ffffff;
  --green: #009379;
  --red: #FF6250;
  --pink: #F3AFA8;
  --gray: #F3F3F3;
  --yellow: #F7D684
}